<div class="toolbar">
  <div class="left-container">
    <!-- <button class="hamburger"></button> TODO: Only toggle in mobile -->

    <div class="shortcut-container">
      <mat-icon svgIcon="calendar"></mat-icon>
      <mat-icon svgIcon="email"></mat-icon>
      <mat-icon svgIcon="account"></mat-icon>
      <mat-icon svgIcon="checkbox-marked-outline"></mat-icon>
      <mat-icon class="active" svgIcon="star"></mat-icon>
    </div>
  </div>
  <div class="right-container">
    <!-- <div class="user-login"></div> TODO: Add login button -->
    <div class="toolbar-separator"></div>
    <div class="search-bar">
      <mat-icon svgIcon="magnify"></mat-icon>
    </div>
    <div class="toolbar-separator"></div>
    <div class="language-switch">
      <mat-icon svgIcon="translate"></mat-icon>
    </div>
    <div class="toolbar-separator"></div>
    <div class="quick-panel">
      <mat-icon svgIcon="format-list-bulleted"></mat-icon>
    </div>
  </div>
</div>
